<h3>Project name: <%= @project.name %></h3>
<h5>commit: <%= @commit.name %></h5>

<pre>
  <%= @commit.data.inspect %>
</pre>

<h5>Churn</h5>

<% if @commit.churn_results.is_a?(String) %>
  <pre>
<%= @commit.churn_results %>
  </pre>
<% else %>
  <% @run_results = @commit.churn_results %>
  <% if @run_results['cmd_run'] %>
  <p>
    <strong>command run:</strong> <code><%= @run_results['cmd_run'] %></code>
  </p>
  <% end %>

  <% if @run_results['exit_status'] %>
  <p>
    <strong>command exit status:</strong> <code><%= @run_results['exit_status'] %></code>
  </p>
  <% end %>

  <pre>
<%= @run_results['results'] %>
  </pre>
<% end %>
