<h3><a href="/<%= @project.name %>"><%= @project.name %></a></h3>
<h5>commit: <%= @commit.name %></h5>
<p>
  message: <%= @commit.message %><br/>
  author: <%= @commit.author %><br/>
  date: <%= @commit.formatted_commit_time %>
</p>

<h4>Actions</h4>
<ul>
  <li>
   <a href="http://github.com/<%= @project.name %>">
     view <%= @project.name %> on github
   </a>
  </li>
  <li>
    <form action="/<%= @project.name %>/commits/<%= @commit.name %>" method="post">
      <input type="submit" name="submit" value="re-churn commit" class="button stacked" />
    </form>
  </li>
</ul>

<% if ENV['RACK_ENV']=='development' %>
<pre>
  <%= @commit.data.inspect %>
</pre>
<% end %>

<h3>Churn Data</h3>

<% @churn_results = @commit.churn_results %>
<% if @churn_results.exists? %>

  <% @most_recent_results = @churn_results %>
  <h5>Stats</h5>
  <%= partial :commit_breakdown %>
  <br/>

 <% if @churn_results.command %>
  <p>
    <strong>command run:</strong> <code><%= @churn_results.command %></code>
  </p>
 <% end %>

  <% if @churn_results.exit_status %>
  <p>
    <strong>command exit status:</strong> <code><%= @churn_results.exit_status %></code>
  </p>
  <% end %>

  <pre><%= @churn_results.formatted_results %></pre>

  <strong>files changes over threshold: <%= @churn_results.file_changes_count %></strong>

<% else %>
  <pre>
    <%= ChurnResult::MISSING_CHURN_RESULTS %>
  </pre>
<% end %>
