<h3>Project name: <%= @project.name %></h3>

Actions:
<ul>
  <li>
   <a href="http://github.com/<%= @project.name %>">
     view <%= @project.name %> on github
   </a>
  </li>
  <li>
    <form action="/churn/<%= @project.name %>" method="post">
      <input type="submit" name="submit" value="build churn history" class="button stacked" />
    </form>
  </li>
</ul>

<h5>Churn History</h5>
<ul>
  <% @project.sorted_commits.each do |commit| %>
    <li>
      <a href='/<%= @project.name %>/commits/<%= commit.name %>'>
        <%= commit.name %>
      </a>
      (<%= commit.message %> @
       <%= commit.formatted_commit_time %>)
    </li>
  <% end %>
</ul>
