<h3><a href="/<%= @project.name %>"><%= @project.name %></a></h3>

<h4>Actions</h4>
<ul>
  <li>
   <a href="http://github.com/<%= @project.name %>">
     view <%= @project.name %> on github
   </a>
  </li>
  <li>
    <form action="/churn/<%= @project.name %>" method="post">
      <input type="submit" name="submit" value="build churn history" class="button stacked" />
    </form>
  </li>
</ul>

<h5>Churn History</h5>

<pre>
  <% @project.sorted_commits.each do |commit|
    churn_results = commit.churn_results 
    if churn_results.exists? %>
      <%= churn_results.file_changes %>
    <% end
    end %>
</pre>

<ul>
  <% @project.sorted_commits.each do |commit| %>
    <li>
      <a href='/<%= @project.name %>/commits/<%= commit.name %>'>
        <%= commit.name %>
      </a>
      (<%= commit.message %> @
       <%= commit.formatted_commit_time %>)
    </li>
  <% end %>
</ul>
