<h3>Project name: <%= @project.name %></h3>

<ul>
  <% @project.sorted_commits.each do |commit| %>
    <li>
      <a href='/<%= @project.name %>/commits/<%= commit.name %>'>
        <%= commit.name %>
      </a>
      (<%= commit.data['message'] %> @
       <%= commit.formatted_commit_time %>)
    </li>
  <% end %>
</ul>
